################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieDBApp/.vs/MovieDBApp/v16
/MovieDBApp/.vs/MovieDBApp/DesignTimeBuild
